@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
	min-width: 250px;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h1 {
    margin: 30px 0 60px 0;
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}
main {
    max-width: 930px;
    margin: 0 auto;
}
.form {
    margin: 0 auto;
    margin-bottom: 58px;
    padding: 33px 30px;
    width: 510px;
    background-color: #F8F8F8;
    box-sizing: border-box;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.input {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #a4a7ad;
    line-height: 42px;
    font-size: 15px;
    color: #a4a7ad;
}
.input_form {
    padding: 0 12px;
    width: 210px;
}
.form input::placeholder {
    color: #a4a7ad;
}
.form__add {
    width: 210px;
    height: 44px;
    background-color: #1C2233;
    border-radius: 4px;
    color: #FFF;
    border: 0;
    font-size: 15px;
    transition: .2s;
    cursor: pointer;
}
.form__add:hover {
    background-color: #323d5d;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
}
.col {
    padding-left: 15px;
    padding-right: 15px;
}
.large_25 {
    flex: 0 0 25%;
    max-width: 25%;
}
.item {
    position: relative;
    padding: 48px 0 0 0;
    margin: 0 0 30px 0;
    height: 270px;
    border: 1px solid #d2d3d6;
    border-radius: 5px;
    box-sizing: border-box;

    animation: fade-in .5s 1 ease-in-out;
}
.item__kv {
    margin: 0 auto;
    width: 62px;
    height: 62px;
    border-radius: 5px;
}
.item__color {
    margin: 15px 0 0 0;
    font-size: 24px;
    text-align: center;
    color: #a4a7ad;
}
.item__delet {
    position: absolute;
    bottom: 20px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
.item__fav {
    display: none;
}
.item__fav + label {
    position: absolute;
    bottom: 20px;
    left: 15px;
}
.item__fav + label::before {
    content: "";
    background-image: url(../img/fav_none.svg);
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    position: relative;
    display: inline-block;
}
.item__fav:checked + label::before {
    content: "";
    background-image: url(../img/fav.svg);
}
.fade-out {
	animation: fade-out .5s 1 ease-in-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
        /*margin: 60px 0 0 0;*/
    }
    to {
        opacity: 1;
        /*margin: 0;*/
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
        /*margin: 0;*/
    }
    to {
        opacity: 0;
        /*margin: 60px 0 0 0;*/
    }
}
@media (max-width: 900px) {
    .medium_33 {
        flex: 0 0 33%;
        max-width: 33%;
    }
}
@media (max-width: 510px) {
    h1 {
        font-size: 26px;
    }
    .form {
        width: 100%;
    }
    .input_form {
		 width: 100%;
        flex-basis: 100%;
        line-height: 32px;
    }
    .form__add {
        flex-basis: 100%;
        height: 34px;
        margin: 15px 0 0 0;
    }
    .small_100 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
